main article {
   padding: 1rem;
   margin: 1rem;
   border: 1px solid #bbb;
   background-color: #f9f9f9; 
}

.sentence {
   font-style: italic;
   margin-bottom: 1rem; 
}

footer {
   border-top: 1px solid #bbb; 
   padding: 0.5rem;
   background-color: #e0e0e0; 
   text-align: center;
}

footer h4 {
   margin: 0.5rem 0;
   font-weight: normal;
}

footer p {
   font-style: italic;
   margin: 0.2rem 0;
}

footer a {
color: #66a500;
}

footer a:hover {
   color: #273f00;
}

.dark-mode footer {
   background-color: #2b2b2b;
}

.dark-mode footer a {
   color: #a3e635; 
}

.dark-mode footer a:hover {
   color: #ccc;
}